* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #663399;
    margin-bottom: 10px;
}

p {
    color: #333;
    margin-bottom: 20px;
}

/* Estilo e animação do botão */
.btn-animado {
    text-decoration: none;
    color: #fff;
    background-color: #663399;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-animado:hover {
    background-color: #824db1;
    transform: scale(1.1);
}
