<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Meu Perfil</h1>
        <p>Olá! Clique no botão abaixo para acessar meu perfil.</p>
        <a href="https://github.com/limmazk" class="btn-animado">Meu Perfil</a>
    </div>
</body>
</html>
